.header{
    display: flex;
    max-width: 1440px;
    width: 100%;
    height: 80px;
    color: black;
}
.outsideHeader{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: lightgrey;
    width: 100%;
    justify-content: center;
}
.headerInfo{
    width: 100%;
    display: flex;
    font-size: 24px;
    gap: 100px;
    margin: auto;
}
.contactInfo{
    justify-content: center;
    width: 100%;
    display: flex;
    gap: 100px;
}
.Name{
    /* min-width: 180px; */
    justify-content: center;
    justify-items: center;
    display: flex;
    box-sizing: border-box;
}
.NameEmpty{
    min-width: 180px;
    padding-left: 20px !important;
    justify-items: center;
    display: flex;
    box-sizing: border-box;
}
.Name img{
    margin: auto;
    width: 48px;
    height: 48px;
}
.flex{
    display: flex;
}
.flex img{
    width: 48px;
    height: 48px;
    margin: auto;
}
.gap{
    gap: 10px;
}
.Name a{
    color: black;
    display: flex;
    text-decoration: none;
    gap: 10px;
}
.Name a:hover{
    color: black !important;
}
@media (max-width: 1200px) {
    .headerInfo{
        font-size: 20px;
    }
    .Name img{
        width: 40px;
        height: 40px;
    }
    .flex img{
        width: 40px;
        height: 40px;
    }
    .NameEmpty{
        width: 0px;
        min-width: 0px;
        padding-left: 0px !important;
    }
}
@media (max-width: 950px) {
    .headerInfo{
        gap: 5px;
    }
}
@media (max-width: 750px) {
    .headerInfo{
        font-size: 16px;
    }
    .Name img{
        width: 30px;
        height: 30px;
    }
    .flex img{
        width: 30px;
        height: 30px;
    }
    .contactInfo{
        gap: 20px;
    }
}
@media (max-width: 530px) {
   
    .contactInfo{
        gap: 5px;
    } 
    .headerInfo{
        font-size: 13px;
    }
    .Name img{
        width: 20px;
        height: 20px;
    }
    .flex img{
        width: 20px;
        height: 20px;
    }
}
@media (max-width: 394px) {
   
    .contactInfo{
        gap: 3px;
    } 
    .headerInfo{
        font-size: 11px;
    }
    .Name img{
        width: 18px;
        height: 18px;
    }
    .flex img{
        width: 18px;
        height: 18px;
    }
}