.ContainerMainContent {
    width: 100%;
    height: 100%;
    max-height: calc(100dvh - 174px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.backgroundImage {
    width: 100%;
    height: calc(100dvh - 174px);
    max-height: 1000px;
    background-image: url('../../public/Icons/KuchniaStronaGłowna.webp');
    background-size: cover;
    background-position: center;
    align-self: self-start;
}

.content {
    top: 100px;
    position: absolute;
    text-align: center;
    color: #242020;
    font-size: 32px;
    max-width: 600px;
}

.contactButton {
    width: 300px;
    height: 80px;
    margin-top: 10px;
    border-radius: 50px;
    background-color: #740707;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 32px;
}

.contactButton:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button a {
    color: white;
}
button a:hover {
    color: white;
}

@media (max-width: 1600px) {
    .backgroundImage {
        background-position: top;
    }
}

