.navbar{
    max-width: 1440px;
    display: flex;
    background-color: white;
    height: 114px;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    align-items: center;
    
}

.outside{
    background-color: white;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #242020;
}
.font {
    font-family: 'Aldrich', sans-serif;
    font-size: 24px;
    color: black
}
.current{
    color: #324DD4;
    position: relative;
    transition: color 0.3s ease;
}

.current::before, .current::after {
    transition: width 0.3s ease;
}
.current::before,
.current::after {
    width: 0;
    transition: width 0.3s ease;
}

.current:hover::before,
.current:hover::after {
    width: 45%;
}
.current p{
    margin: 0px;
}

.current::before {
    content: "";
    position: absolute;
    top: -8px; 
    right: 0; 
    width: 30px;
    height: 2px;
    background-color: #324DD4;
}

.current::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0; 
    width: 30px;
    height: 2px;
    background-color: #324DD4;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
@media (max-width: 1200px) {
    .font{
        font-size: 20px;
    }
}
@media (max-width: 750px) {
    .font{
        font-size: 16px;
    }
}
@media (max-width: 550px) {
    .font{
        font-size: 12px;
    }
    .navbar{
        padding: 0 5px;
        height: 70px;
    }
}
@media (max-width: 394px) {
    .font{
        font-size: 10px;
    }
}